.list-group.list-group-lg
	%a.list-group-item.animated.fadeInDown.bg-warning-light{:href => "#"}
		%span.thumb-sm.pull-left.mr
			= image_tag "14.jpg", class: "img-circle"
		%i.fa.fa-circle.pull-right.text-success.mt-sm
		%h5.no-margin
			%strong Jenny Wilington
		%small just now
	%a.list-group-item{:href => "#"}
		%span.thumb-sm.pull-left.mr
			= image_tag "1.jpg", class: "img-circle"
		%i.fa.fa-circle.pull-right.text-danger.mt-sm
		%h5.no-margin Maikel Basso
		%small.text-muted about 2 mins ago
	%a.list-group-item{:href => "#"}
		%span.thumb-sm.pull-left.mr
			= image_tag "2.jpg", class: "img-circle"
		%i.fa.fa-circle.pull-right.text-info.mt-sm
		%h5.no-margin Ianus Arendse
		%small.text-muted about 42 mins ago
	%a.list-group-item{:href => "#"}
		%span.thumb-sm.pull-left.mr
			= image_tag "2.jpg", class: "img-circle"
		%i.fa.fa-circle.pull-right.text-success.mt-sm
		%h5.no-margin Valdemar Landau
		%small.text-muted one hour ago
	%a.list-group-item.mb-n-md{:href => "#"}
		%span.thumb-sm.pull-left.mr
			= image_tag "13.jpg", class: "img-circle"
		%i.fa.fa-circle.pull-right.text-warning.mt-sm
		%h5.no-margin Rick Teagan
		%small.text-muted 3 hours ago
