- Dir.new("#{Rails.root}/app/assets/javascripts/examples/d3_models").to_a.map{|e| e.split(".").first}.select{|e| e.present?}.each do |file_name|
	= javascript_include_tag "examples/d3_models/#{file_name}"
- if params[:id] == "dashboard" or request.path == "/"
	= javascript_include_tag "examples/index"
	= javascript_include_tag "examples/chat"
- elsif params[:id] == "widgets_live"
	= javascript_include_tag "examples/grid_live"
- elsif params[:id] == "forms_account"
	= javascript_include_tag "examples/forms_account"
- elsif params[:id] == "forms_article"
	= javascript_include_tag "examples/forms_article"
- elsif params[:id] == "forms_elements"
	= javascript_include_tag "examples/forms_elements"
- elsif params[:id] == "forms_validation"
	= javascript_include_tag "examples/forms_validation"
- elsif params[:id] == "forms_wizard"
	= javascript_include_tag "examples/forms_wizard"
- elsif params[:id] == "stats_charts"
	= javascript_include_tag "examples/stats_charts"
- elsif params[:id] == "stats_realtime"
	= javascript_include_tag "examples/stats_realtime"
- elsif params[:id] == "ui_buttons"
	= javascript_include_tag "examples/ui_buttons"
- elsif params[:id] == "ui_dialogs"
	= javascript_include_tag "examples/ui_dialogs"
- elsif params[:id] == "components_calendar"
	= javascript_include_tag "examples/components_calendar"
- elsif params[:id] == "components_maps"
	= javascript_include_tag "examples/components_maps"
- elsif params[:id] == "components_gallery"
	= javascript_include_tag "examples/components_gallery"
- elsif params[:id] == "components_fileupload"
	= javascript_include_tag "examples/components_fileupload"
- elsif params[:id] == "components_listgroups"
	= javascript_include_tag "examples/components_listgroups"
- elsif params[:id] == "tables_static"
	= javascript_include_tag "examples/tables_static"
- elsif params[:id] == "tables_dynamic"
	= javascript_include_tag "examples/tables_dynamic"
