%h2.page-title
	Dashboard
	%small Statistics and more
.row
	.col-lg-8
		%section.widget
			%header
				%h4
					Visits
					%small
						Based on a three months data
				.widget-controls
					%a{:href => "#", :title => "Options"}
						%i.glyphicon.glyphicon-cog
					%a{"data-widgster" => "expand", :href => "#", :title => "Expand"}
						%i.glyphicon.glyphicon-chevron-up
					%a{"data-widgster" => "collapse", :href => "#", :title => "Collapse"}
						%i.glyphicon.glyphicon-chevron-down
					%a{"data-widgster" => "close", :href => "#", :title => "Close"}
						%i.glyphicon.glyphicon-remove
			.body.no-margin
				#visits-chart.chart.visits-chart
					%svg
				.visits-info.well.well-sm
					.row
						.col-sm-3.col-xs-6
							.key
								%i.fa.fa-users
								Total Traffic
							.value
								24 541
								%i.fa.fa-caret-up.color-green
						.col-sm-3.col-xs-6
							.key
								%i.fa.fa-bolt
								Unique Visits
							.value
								14 778
								%i.fa.fa-caret-down.color-red
						.col-sm-3.col-xs-6
							.key
								%i.fa.fa-plus-square
								Revenue
							.value
								$3 583.18
								%i.fa.fa-caret-up.color-green
						.col-sm-3.col-xs-6
							.key
								%i.fa.fa-user
								Total Sales
							.value
								$59 871.12
								%i.fa.fa-caret-down.color-red
		%section.widget
			%header
				%h4
					Traffic Sources
					%small
						One month tracking
				.widget-controls
					%a{"data-widgster" => "expand", :href => "#", :title => "Expand"}
						%i.glyphicon.glyphicon-plus
					%a{"data-widgster" => "collapse", :href => "#", :title => "Collapse"}
						%i.glyphicon.glyphicon-minus
					%a{"data-widgster" => "close", :href => "#", :title => "Close"}
						%i.glyphicon.glyphicon-remove
			.body
				%table.table.table-striped.no-margin.sources-table
					%thead
						%tr
							%th.source-col-header Source
							%th Amount
							%th Change
							%th.hidden-xs Percent.,%
							%th Target
							%th.chart-col-header.hidden-xs Trend
					%tbody
						%tr
							%td
								%span.label.label-important Direct
							%td 713
							%td
								%strong.color-green +53
							%td.hidden-xs +12
							%td 900
							%td.chart-cell.hidden-xs
								#direct-trend
						%tr
							%td
								%span.label.label-warning Refer
							%td 562
							%td
								%strong +84
							%td.hidden-xs +64
							%td 500
							%td.chart-cell.hidden-xs
								#refer-trend
						%tr
							%td
								%span.label.label-success Social
							%td 148
							%td
								%strong.color-red -12
							%td.hidden-xs +3
							%td 180
							%td.chart-cell.hidden-xs
								#social-trend
						%tr
							%td
								%span.label.label-info Search
							%td 653
							%td
								%strong.color-green +23
							%td.hidden-xs +43
							%td 876
							%td.chart-cell.hidden-xs
								#search-trend
						%tr
							%td
								%span.label.label-inverse Internal
							%td 976
							%td
								%strong +101
							%td.hidden-xs -7
							%td 844
							%td.chart-cell.hidden-xs
								#internal-trend
		%section.widget.large
			%header
				%h4
					Chat
				.widget-controls
					%a{:href => "#", :title => "Options"}
						%i.glyphicon.glyphicon-cog
					%a{"data-widgster" => "close", :href => "#", :title => "Close"}
						%i.glyphicon.glyphicon-remove
			.body
				#chat.chat
					#chat-messages.chat-messages
						.chat-message
							.sender.pull-left
								.icon
									= image_tag "2.jpg"
								.time
									4 min
							.chat-message-body
								%span.arrow
								.sender
									%a{:href => "#"} Tikhon Laninga
								.text
									Hey Sam, how is it going? But I must explain to you how all this mistaken
									idea of denouncing of a pleasure and praising pain was born
						.chat-message
							.sender.pull-right
								.icon
									= image_tag "1.jpg"
								.time
									3 min
							.chat-message-body.on-left
								%span.arrow
								.sender
									%a{:href => "#"} Cenhelm Houston
								.text
									Pretty good. Doing my homework..  No one rejects, dislikes, or avoids
									pleasure itself, because it is pleasure, but because
						.chat-message
							.sender.pull-left
								.icon
									= image_tag "2.jpg"
								.time
									2 min
							.chat-message-body
								%span.arrow
								.sender
									%a{:href => "#"} Tikhon Laninga
								.text
									Any chance to go out? To take a trivial example, which of us ever undertakes
									laborious physical exercise, except to obtain some advantage
						.chat-message
							.sender.pull-right
								.icon
									= image_tag "1.jpg"
								.time
									2 min
							.chat-message-body.on-left
								%span.arrow
								.sender
									%a{:href => "#"} Cenhelm Houston
								.text
									\.. Maybe 40-50 mins. I don't know exactly. On the other hand, we denounce
									with righteous indignation and dislike men who are so beguiled
						.chat-message
							.sender.pull-left
								.icon
									= image_tag "2.jpg"
								.time
									1 min
							.chat-message-body
								%span.arrow
								.sender
									%a{:href => "#"} Tikhon Laninga
								.text
									Anyway sounds great! These cases are perfectly simple and easy to
									distinguish.
					%footer.chat-footer.row
						.col-xs-9
							%input#new-message.form-control.input-transparent{:placeholder => "Enter your message..", :type => "text"}
						.col-xs-3
							%button#new-message-btn.btn.btn-transparent.btn-block{:type => "button"} Send
	.col-lg-4
		%section.widget.large
			%header
				%h4
					Feed
					%span.label.label-success 412
				.actions
					%button.btn.btn-transparent.btn-xs
						Show All
						%i.fa.fa-arrow-down
			.body
				#feed.feed
					.wrapper
						.vertical-line
						%section.feed-item
							.icon.pull-left
								%i.fa.fa-comment
							.feed-item-body
								.text
									%a{:href => "#"} John Doe
									commented on
									= succeed "." do
										%a{:href => "#"} What Makes Good Code Good
								.time.pull-left
									3 h
						%section.feed-item
							.icon.pull-left
								%i.fa.fa-check.color-green
							.feed-item-body
								.text
									%a{:href => "#"} Merge request #42
									has been approved by
									= succeed "." do
										%a{:href => "#"} Jessica Lori
								.time.pull-left
									10 h
						%section.feed-item
							.icon.pull-left
								= image_tag "14.jpg"
							.feed-item-body
								.text
									New user
									%a{:href => "#"} Greg Wilson
									registered.
								.time.pull-left
									Today
						%section.feed-item
							.icon.pull-left
								%i.fa.fa-bolt.color-orange
							.feed-item-body
								.text
									Server fail level raises above normal.
									%a{:href => "#"} See logs
									for details.
								.time.pull-left
									Yesterday
						%section.feed-item
							.icon.pull-left
								%i.fa.fa-database
							.feed-item-body
								.text
									%a{:href => "#"} Database usage report
									is ready.
								.time.pull-left
									Yesterday
						%section.feed-item
							.icon.pull-left
								%i.fa.fa-shopping-cart
							.feed-item-body
								.text
									%a{:href => "#"} Order #233985
									needs additional processing.
								.time.pull-left
									Wednesday
						%section.feed-item
							.icon.pull-left
								%i.fa.fa-arrow-down
							.feed-item-body
								.text
									%a{:href => "#"} Load more...
		%section.widget.widget-tabs
			%header
				%ul.nav.nav-tabs
					%li.active
						%a{"data-toggle" => "tab", :href => "#stats"} Users
					%li
						%a{"data-toggle" => "tab", :href => "#report"} Favorites
					%li
						%a{"data-toggle" => "tab", :href => "#dropdown1"} Commenters
			.body.tab-content
				#stats.tab-pane.active.clearfix
					%h5.tab-header
						%span.label.label-primary
							%i.fa.fa-facebook
						Last logged-in users
					%ul.news-list
						%li
							= image_tag "1.jpg"
							.news-item-info
								.name
									%a{:href => "#"} Finees Lund
								.position Product Designer
								.time Last logged-in: Mar 20, 18:46
						%li
							= image_tag "3.jpg"
							.news-item-info
								.name
									%a{:href => "#"} Erebus Novak
								.position Software Engineer
								.time Last logged-in: Mar 23, 9:02
						%li
							= image_tag "2.jpg"
							.news-item-info
								.name
									%a{:href => "#"} Leopoldo Reier
								.position Chief Officer
								.time Last logged-in: Jun 6, 15:34
						%li
							= image_tag "13.jpg"
							.news-item-info
								.name
									%a{:href => "#"} Frans Garey
								.position Financial Assistant
								.time Last logged-in: Jun 8, 17:20
						%li
							= image_tag "14.jpg"
							.news-item-info
								.name
									%a{:href => "#"} Jessica Johnsson
								.position Sales Manager
								.time Last logged-in: Jun 8, 9:13
				#report.tab-pane
					%h5.tab-header
						%i.fa.fa-star
						Popular contacts
					%ul.news-list.news-list-no-hover
						%li
							= image_tag "14.jpg"
							.news-item-info
								.name
									%a{:href => "#"} Jessica Johnsson
								.options
									%button.btn.btn-xs.btn-success
										%i.fa.fa-phone
										Call
									%button.btn.btn-xs.btn-warning
										%i.fa.fa-envelope-o
										Message
						%li
							= image_tag "13.jpg"
							.news-item-info
								.name
									%a{:href => "#"} Frans Garey
								.options
									%button.btn.btn-xs.btn-success
										%i.fa.fa-phone
										Call
									%button.btn.btn-xs.btn-warning
										%i.fa.fa-envelope-o
										Message
						%li
							= image_tag "3.jpg"
							.news-item-info
								.name
									%a{:href => "#"} Erebus Novak
								.options
									%button.btn.btn-xs.btn-success
										%i.fa.fa-phone
										Call
									%button.btn.btn-xs.btn-warning
										%i.fa.fa-envelope-o
										Message
						%li
							= image_tag "2.jpg"
							.news-item-info
								.name
									%a{:href => "#"} Leopoldo Reier
								.options
									%button.btn.btn-xs.btn-success
										%i.fa.fa-phone
										Call
									%button.btn.btn-xs.btn-warning
										%i.fa.fa-envelope-o
										Message
						%li
							= image_tag "1.jpg"
							.news-item-info
								.name
									%a{:href => "#"} Finees Lund
								.options
									%button.btn.btn-xs.btn-success
										%i.fa.fa-phone
										Call
									%button.btn.btn-xs.btn-warning
										%i.fa.fa-envelope-o
										Message
				#dropdown1.tab-pane
					%h5.tab-header
						%i.fa.fa-comments
						Top Commenters
					%ul.news-list
						%li
							= image_tag "13.jpg"
							.news-item-info
								.name
									%a{:href => "#"} Frans Garey
								.comment
									Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
									sed quia
						%li
							= image_tag "1.jpg"
							.news-item-info
								.name
									%a{:href => "#"} Finees Lund
								.comment
									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
									eu fugiat.
						%li
							= image_tag "14.jpg"
							.news-item-info
								.name
									%a{:href => "#"} Jessica Johnsson
								.comment
									Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
									deserunt.
						%li
							= image_tag "3.jpg"
							.news-item-info
								.name
									%a{:href => "#"} Erebus Novak
								.comment
									Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
									doloremque.
						%li
							= image_tag "2.jpg"
							.news-item-info
								.name
									%a{:href => "#"} Leopoldo Reier
								.comment
									Laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis
									et quasi.
		%section.widget
			%header
				%h4
					Server Overview
				.actions
					%small.text-muted.pull-right 2 days ago
			.body
				%ul.server-stats
					%li
						.key.pull-right CPU
						.stat
							.info 60% / 37&deg;C / 3.3 Ghz
							.progress.progress-small
								.progress-bar.progress-bar-danger{:style => "width: 70%;"}
					%li
						.key.pull-right Mem
						.stat
							.info 29% / 4GB (16 GB)
							.progress.progress-small
								.progress-bar{:style => "width: 29%;"}
					%li
						.key.pull-right LAN
						.stat
							.info
								6 Mb/s
								%i.fa.fa-caret-down
								\&nbsp; 3 Mb/s
								%i.fa.fa-caret-up
							.progress.progress-small
								.progress-bar.progress-bar-inverse{:style => "width: 48%;"}
